.contenedor-todo {
    min-height: 100vh; /* Altura mínima del contenedor */
    display: flex;
    flex-direction: column;
}

.navbar{
    
    height: 25vh;
}

.carrusel{
    
    width: 100%;
}


.footer{
    margin-top: 4rem;
   
    width: 100%;
}

.paginaProductos{
    
    width: 100%;
}
.abm{
 
    width: 100%;
    display: flex;
    justify-content: center;
}

.productosAPP{
    width: 100%;
    height: 30vh;
}
.productos{
    width: 100%;
    height: 60vh;
}

