.submenu-carrito {
    position: absolute;
    top: calc(100% + 10px); /* Añadido */
    right: 20px; /* Añadido */
    width: 300px; /* Ancho deseado */
    background-color: white;
    border: 1px solid black; /* Añadido */
    border-radius: 5px; /* Añadido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Añadido */
    padding: 20px; /* Añadido */
    
    max-height: 500px; /* Altura máxima del contenedor */
    overflow-y: auto;
}

.submenu-carrito .cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.submenu-carrito .subtitulo {
    margin-bottom: 10px;
}
.submenu-carrito .imagen{
    width: 100vw;
    height: 10vh;
}
.submenu-carrito .info{
    width: 10vw;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submenu-carrito .producto{
    height: 25vh;
    display: flex;
    width: 12vw;
    flex-direction: column;
    position: relative;
  margin-bottom: 20px; /* Espacio entre productos */

    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.submenu-carrito .productos {
   
    height: 100%;
    width: 100%; /* Ajusta el ancho */
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
}
.submenu-carrito .zapa{
    width: 100%;
    height: 100%;
}
.submenu-carrito .checkout {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


.submenu-carrito .informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 5vw;
    height: 20vh;
   
}

.submenu-carrito .botons {
    position: absolute;
    top: 0;
    padding-right: 10px;
    right: 0;
    z-index: 1; /* Asegura que el botón esté por encima del contenido */
}


