.submenu-carrito {
    position: absolute;
    top: calc(100% + 10px); /* Añadido */
    right: 20px; /* Añadido */
    width: 300px; /* Ancho deseado */
    background-color: white;
    border: 1px solid black; /* Añadido */
    border-radius: 5px; /* Añadido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Añadido */
    padding: 20px; /* Añadido */
    
    max-height: 500px; /* Altura máxima del contenedor */
    overflow-y: auto;
}

.submenu-carrito .cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.submenu-carrito .subtitulo {
    margin-bottom: 10px;
}
.submenu-carrito .imagen{
    width: 5vw;
    height: 10vh;
}
.submenu-carrito .info{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: initial;
}
.submenu-carrito .producto{
    height: 25vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.submenu-carrito .productos {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.submenu-carrito .checkout {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
