.parteSuperior {
    
    margin: 0;
    width: 100%;
    height: 25vh;
    position: fixed;
    z-index: 1000;
    
}
.contenedor-logo{
    width: 30%;
    height: 100%;
    
    
}
.sko{
    width: 60%;
    height: 100%;
    
    
    justify-content: center;
    align-items: center;
}
.contenedor-buscador{
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #24262B;
    
}

.submit {
    background: none;
    border: none;
    cursor: pointer;
    
    position: flex; 
    padding-top: 1.3rem;
    justify-content: center;
    align-items: center;
    transform: translateX(-5rem) ;
    
    
}
.buscador{
    
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 0.5rem;
    background-color: white;
    border: solid white 3px;
    width: 75%;
    height: 35%;
    color: black;
}

.carrito{
    width: 15%;
    margin-right: 3rem;
    height: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.user {
    width: 15%;
    height: 50%;
    margin-right: 1rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-session{
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-left: -3rem;
    padding: 0px;
   
    
    
    
}


.contenedor-1 {
    border-bottom: solid black 3px;
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.contenedor-2 {
    border-bottom: solid black 3px;
    background-color: white;
    height: 36%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px; 
   
}

.menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: -10px;
    
}


.nombre {
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black; 
    font-weight: bold; 
    text-decoration: none;
    font-size: 120%;
    margin-left: 1.3rem;
}

.nombre2 {
    
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    color: black; 
    font-weight: bold; 
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100vw; /* Ancho del submenu al 100% del viewport */
    list-style-type: none;
    padding: 0;
    background-color: white;
    color: black;
    font-weight: bold; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    column-count: 3; /* Dividimos el submenu en tres columnas */
    column-gap: -10rem; /* Espacio entre las columnas */
    text-align: center; /* Centramos el texto en cada columna */
}


.submenu-column {
    flex: 0 0 33.33%; /* Cambiamos el ancho de la columna para que cada una ocupe 1/3 del ancho */
   display: flex;
   flex-direction: column;
   justify-content: initial;
   align-items: initial;
   text-align: end;
}

.submenu-column1 {
    flex: 0 0 33.33%; /* Cambiamos el ancho de la columna para que cada una ocupe 1/3 del ancho */
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.submenu-column2 {
    flex: 0 0 33.33%; /* Cambiamos el ancho de la columna para que cada una ocupe 1/3 del ancho */
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: initial;
}


.submenu li {
    break-inside: avoid-column; /* Evitamos que los elementos se dividan entre columnas */
    margin-bottom: -2rem; /* Espacio entre cada marca */
}

.submenu li a {
    display: block; /* Hacemos que cada marca ocupe todo el ancho disponible */
    color: black; 
    text-decoration: none; 
    padding: 1rem;
    position: relative; /* Agregamos posición relativa para alinear los pseudoelementos */
}
.decoracion-enlace{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.menu1:hover + .uno,
.menu2:hover + .dos {
    display: block;
    z-index: 2;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    
}

.submenu:hover{
    display: block;
    border-top: black solid 3px;
    border-bottom: black solid 3px;

}

.menu1:hover, .menu2:hover, .nombre:hover {
    cursor: pointer; 
    position: relative; 
}


.submenu li a:hover::before,
.submenu li a:hover::after {
    
    position: absolute; 
    left: 50%; /* Alineamos el punto de inicio de las líneas en el centro */
    transform: translateX(-50%); /* Centramos las líneas */
    width: 40%; /* Ajustamos la longitud de las líneas */
    height: 2px;
   
}

.submenu li a:hover::before {
    top: -5px; /* Posicionamos la línea superior 5px hacia arriba */
}

.submenu li a:hover::after {
    bottom: -5px; /* Posicionamos la línea inferior 5px hacia abajo */
}


/* Estilos adicionales para la barra de navegación y otros elementos aquí */

.user {
    position: relative;
}

.user:hover #userDropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
