.productos {
  grid-row: 1; /* Position the list in the first row */
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid for product cards */
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los productos horizontalmente */
  align-items: center; /* Centra los productos verticalmente */
}

.producto {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  
}

.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.producto h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.producto li {
  margin-bottom: 5px;
  font-size: 0.8rem; /* Adjust for readability */
}.producto p {
  margin: 0;
}

  
  .producto ul {
    list-style: none;
    padding: 0;
  }
  
  
 /* Existing CSS styles */

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
 
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.buttons button:hover {
  background-color: lightskyblue; /* Slightly darker background on hover */
}
.buttons button:nth-child(2):hover {
  background-color: lightskyblue;
}
.buttons button:nth-child(1):hover {
  background-color: lightskyblue;
}
.buttons button:nth-child(1) {
  background-color: white; /* Green button */
  color: rgb(0, 0, 0);
  border: black solid 2px;
  margin-right: 2% ;
}

.buttons button:nth-child(2) {
  background-color: white; /* Green button */
  color: rgb(0, 0, 0);
  border: black solid 2px;
  margin-left: 2% ;
}

.title {
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem; /* Adjust heading size */
  color: #333; /* Darker text color */
}
  


@media (min-width: 1vh) and (max-width: 200vh) {
  .productos .producto{
    background-color: none;
    height: 10%;
  }
}